/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ==========================================================================
   Paths
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Grid
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Dimensions
   ========================================================================== */
/* ==========================================================================
   Border
   ========================================================================== */
.container, .row, .slider-outer-wrapper .slider-inner-wrapper ul, .box .info {
  *zoom: 1;
}
.container:before, .row:before, .slider-outer-wrapper .slider-inner-wrapper ul:before, .box .info:before, .container:after, .row:after, .slider-outer-wrapper .slider-inner-wrapper ul:after, .box .info:after {
  content: " ";
  display: table;
}
.container:after, .row:after, .slider-outer-wrapper .slider-inner-wrapper ul:after, .box .info:after {
  clear: both;
}

html, body {
  min-height: 100%;
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

ul {
  list-style: none;
}

.main {
  padding-top: 30px;
}
@media only screen and (max-width: 30em) {
  .main {
    padding: 0;
  }
}

html, body {
  color: #666666;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 18px;
  color: #333333;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

p {
  margin: 18px 0 18px 0;
}

strong {
  font-weight: bold;
  color: #333333;
}

em {
  font-style: italic;
}

pre {
  padding: 9px;
  background: #f2f2f2;
  border: 1px solid #d1d1d1;
  overflow-x: scroll;
  border-radius: 3px;
}
pre code {
  background: none !important;
}

p code {
  padding: 0 3px 0 3px;
  background: #f2f2f2;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}

code {
  font-size: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0;
}

a {
  color: #d04144;
  text-decoration: none;
}
a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ol.numbers {
  list-style-type: decimal;
  margin: 0 0 0 15px;
  padding: 0;
  counter-reset: item;
}
ol.numbers > li {
  margin: 0;
  padding: 0 0 0 15px;
  text-indent: -30px;
  list-style-type: none;
  counter-increment: item;
  font-size: 16px;
  line-height: 39px;
}
ol.numbers > li a {
  color: #666666;
}
ol.numbers > li a:hover {
  color: #d04144;
}
ol.numbers > li a:active {
  color: #666666;
}
ol.numbers > li:before {
  display: inline-block;
  width: 40px;
  padding-right: 7.5px;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

/* ==========================================================================
   Icons
   ========================================================================== */
@font-face {
  font-family: "3K_frontend_task_icon_font";
  src: url("../fonts/3K_frontend_task_icon_font/3K_frontend_task_icon_font.eot?-8dgc68");
  src: url("../fonts/3K_frontend_task_icon_font/3K_frontend_task_icon_font.eot?#iefix-8dgc68") format("embedded-opentype"), url("../fonts/3K_frontend_task_icon_font/3K_frontend_task_icon_font.woff?-8dgc68") format("woff"), url("../fonts/3K_frontend_task_icon_font/3K_frontend_task_icon_font.ttf?-8dgc68") format("truetype"), url("../fonts/3K_frontend_task_icon_font/3K_frontend_task_icon_font.svg?-8dgc68#3K_frontend_task_icon_font") format("svg");
  font-weight: "normal";
  font-style: "normal";
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "3K_frontend_task_icon_font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kilococach_icon_fonts_template-84:before {
  content: "\e600";
}

.icon-kilococach_icon_fonts_template-85:before {
  content: "\e601";
}

.icon-kilococach_icon_fonts_template-86:before {
  content: "\e602";
}

.icon-kilococach_icon_fonts_template-87:before {
  content: "\e603";
}

.icon-kilococach_icon_fonts_template-88:before {
  content: "\e604";
}

.icon-kilococach_icon_fonts_template-89:before {
  content: "\e605";
}

.icon-kilococach_icon_fonts_template-90:before {
  content: "\e606";
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Grid layout
   ========================================================================== */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*='col-'] {
  float: left;
  padding: 0 15px 0 15px;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 30em) {
  .container {
    width: 95%;
    max-width: 1170px;
  }

  .col-1 {
    width: 8.33333%;
  }

  .col-2 {
    width: 16.66667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33333%;
  }

  .col-5 {
    width: 41.66667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333%;
  }

  .col-8 {
    width: 66.66667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33333%;
  }

  .col-11 {
    width: 91.66667%;
  }

  .col-12 {
    width: 100%;
  }
}
/* ==========================================================================
   Header
   ========================================================================== */
.header {
  position: relative;
  background: url("../images/header-bkg.jpg") no-repeat center top fixed;
  background-size: cover;
  z-index: 1000;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(208, 65, 68, 0.9);
  z-index: 0;
}
.header .button {
  display: none;
}

.brand {
  position: relative;
  z-index: 1;
}
.brand input[type="search"] {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.brand .logo {
  color: #ffffff;
  display: inline-block;
  font-size: 100px;
  padding: 35px 0;
}

.search {
  float: right;
  color: #ffffff;
  position: absolute;
  top: 60px;
  right: 0;
}
.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}
.search input[type="search"]:-moz-placeholder {
  color: #ffffff;
}
.search input[type="search"]::-moz-placeholder {
  color: #ffffff;
}
.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}
.search span {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
}
.search .triangle {
  display: none;
}

.mobile-friendly-menu {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}
.mobile-friendly-menu nav ul {
  display: block;
}
.mobile-friendly-menu nav ul li {
  float: left;
  margin: 0 0 0 70px;
}
.mobile-friendly-menu nav ul li a, .mobile-friendly-menu nav ul li span {
  color: #666666;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  padding: 23px 0;
  border-bottom: 2px solid #ffffff;
}
.mobile-friendly-menu nav ul li a:hover, .mobile-friendly-menu nav ul li span:hover {
  border-bottom: 2px solid #dedede;
}
.mobile-friendly-menu nav ul li a:active, .mobile-friendly-menu nav ul li span:active {
  color: #d04144;
  border-bottom: 2px solid #d04144;
  cursor: pointer;
  cursor: hand;
}
.mobile-friendly-menu nav ul li:first-child {
  margin: 0;
}
.mobile-friendly-menu nav ul .current a, .mobile-friendly-menu nav ul .current span {
  color: #d04144;
  border-bottom: 2px solid #d04144;
  cursor: pointer;
  cursor: hand;
}
.mobile-friendly-menu .login {
  float: right;
}
.mobile-friendly-menu .login a {
  color: #666666;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  padding: 23px 0;
  border-bottom: 2px solid #ffffff;
}
.mobile-friendly-menu .login a [class*='icon-'] {
  color: #d04144;
  font-size: 30px;
  line-height: 10px;
  position: relative;
  bottom: -5px;
  margin-right: 10px;
}
.mobile-friendly-menu .login a:hover {
  border-bottom: 2px solid #dedede;
}
.mobile-friendly-menu .login a:active {
  color: #d04144;
  border-bottom: 2px solid #d04144;
  cursor: pointer;
  cursor: hand;
}

@media only screen and (max-width: 30em) {
  .outer-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .inner-wrapper {
    position: relative;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
  }
  .inner-wrapper.open {
    -webkit-transform: translate3d(220px, 0, 0);
            transform: translate3d(220px, 0, 0);
  }

  .header {
    position: static;
    background: #d04144;
  }
  .header .overlay {
    display: none;
  }
  .header .button {
    display: inline-block;
  }

  .brand .logo {
    font-size: 50px;
    padding: 0;
    text-align: center;
    display: block;
  }

  .search {
    width: 100%;
    color: #d04144;
    float: none;
    margin-top: 0;
    background: #ffffff;
    padding: 10px 20px 20px 20px;
    z-index: 20;
    display: none;
  }
  .search input[type="search"] {
    color: #d04144;
    border-bottom: 1px solid #d04144;
  }
  .search input[type="search"]::-webkit-input-placeholder {
    color: #d04144;
  }
  .search input[type="search"]:-moz-placeholder {
    color: #d04144;
  }
  .search input[type="search"]::-moz-placeholder {
    color: #d04144;
  }
  .search input[type="search"]:-ms-input-placeholder {
    color: #d04144;
  }
  .search span {
    right: 20px;
  }
  .search .triangle {
    position: absolute;
    top: -15px;
    right: 10px;
    display: inline-block;
  }
  .search.open {
    display: block;
  }

  .mobile-friendly-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -220px;
    width: 220px;
    background: #f7f7f7;
    z-index: 9999;
    border-right: 1px solid #dedede;
  }
  .mobile-friendly-menu nav ul {
    display: block;
  }
  .mobile-friendly-menu nav ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 0 20px;
  }
  .mobile-friendly-menu nav ul li a, .mobile-friendly-menu nav ul li span {
    font-size: 14px;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
  }
  .mobile-friendly-menu nav ul li a:hover, .mobile-friendly-menu nav ul li span:hover {
    border-bottom: 1px solid #dedede;
  }
  .mobile-friendly-menu nav ul li a:active, .mobile-friendly-menu nav ul li span:active {
    color: #d04144;
    border-bottom: 1px solid #d04144;
    cursor: pointer;
    cursor: hand;
  }
  .mobile-friendly-menu nav ul .current a, .mobile-friendly-menu nav ul .current span {
    border-bottom: 1px solid #d04144;
  }
  .mobile-friendly-menu .login {
    float: none;
  }
  .mobile-friendly-menu .login a {
    background: #ffffff;
    font-size: 14px;
    padding: 21px 20px;
    border-bottom: 1px solid #dedede;
  }
  .mobile-friendly-menu .login a [class*='icon-'] {
    font-size: 24px;
    margin-right: 5px;
  }
  .mobile-friendly-menu .login a:hover {
    border-bottom: 1px solid #dedede;
  }
  .mobile-friendly-menu .login a:active {
    background: #f7f7f7;
    border-bottom: 1px solid #dedede;
  }
}
::-webkit-input-placeholder {
  color: #666666;
}
:-moz-placeholder {
  color: #666666;
}
::-moz-placeholder {
  color: #666666;
}
:-ms-input-placeholder {
  color: #666666;
}
input[type="email"],
input[type="password"],
input[type="search"] {
  background: transparent;
  color: #d04144;
  border: none;
  border-bottom: 1px solid #d04144;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 24px;
  line-height: 50px;
}
input[type="email"].big,
input[type="password"].big,
input[type="search"].big {
  width: 590px;
}

.with-right-icon {
  padding: 0 25px 0 0;
}

@media only screen and (max-width: 30em) {
  input[type="email"],
  input[type="password"],
  input[type="search"] {
    line-height: 30px;
    font-size: 13px;
  }
  input[type="email"].big,
  input[type="password"].big,
  input[type="search"].big {
    width: 100%;
  }
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
  background: #d04144;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  font-size: 24px;
}
.button:hover {
  border: 0;
}
.button:active {
  background: #b22c2f;
}
.button.menu {
  float: left;
  margin: 5px 0 0 5px;
}
.button.magnifier {
  float: right;
  margin: 5px 5px 0 0;
}

.no-touch .button:hover {
  background: #da6a6c;
}
.no-touch .button:active {
  background: #b22c2f;
}

.slider-outer-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dedede;
}
.slider-outer-wrapper .slider-inner-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.slider-outer-wrapper .slider-inner-wrapper ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-outer-wrapper .slider-inner-wrapper ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.slider-outer-wrapper .slider-inner-wrapper ul li img {
  vertical-align: middle;
}
.slider-outer-wrapper .slider-inner-wrapper ul li .slide-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background: rgba(208, 65, 68, 0.9);
  padding: 20px;
  font-size: 38px;
  font-weight: bold;
}
.slider-outer-wrapper .slider-bullets-wrapper {
  position: relative;
  margin: 30px 0 0 50%;
  display: inline-block;
}
.slider-outer-wrapper .slider-bullets-wrapper ul {
  cursor: pointer;
  cursor: hand;
  white-space: nowrap;
  display: inline-block;
  margin-left: -50%;
}
.slider-outer-wrapper .slider-bullets-wrapper ul li {
  display: inline-block;
  background-image: url("../images/bullets.png");
  background-repeat: no-repeat;
  background-position: 0 -18px;
  width: 18px;
  height: 18px;
  margin: 0 5px;
}
.slider-outer-wrapper .slider-bullets-wrapper ul li.selected {
  background-position: 0 0;
}
@media only screen and (max-width: 30em) {
  .slider-outer-wrapper {
    background: #ffffff;
  }
  .slider-outer-wrapper .slider-inner-wrapper {
    border-radius: 0;
  }
  .slider-outer-wrapper .slider-inner-wrapper ul li .slide-caption {
    background: transparent;
    position: relative;
    color: #333333;
    display: block;
    font-size: 23px;
    line-height: 35px;
    padding-bottom: 0;
  }
}

.box {
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.box .image {
  background: #dedede;
}
.box .image img {
  vertical-align: middle;
}
.box .title h4 {
  padding: 15px 0;
  margin: 0;
}
.box .description {
  padding: 15px;
}
.box .description h2 {
  padding-bottom: 18px;
}
.box .info {
  border-top: 1px solid #dedede;
}
.box .info > div {
  color: #666666;
  width: 33.33333%;
  float: left;
  padding: 15px;
  border-left: 1px solid #dedede;
  text-align: center;
}
.box .info > div:first-child {
  border: none;
}
.box .info > div span {
  color: #666666;
  font-size: 20px;
}
.box .info > div > div {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.box .view-more {
  text-align: right;
  padding: 15px;
  position: relative;
}
.box .view-more a {
  color: #d04144;
  background: #ffffff;
  position: relative;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}
.box .view-more .line {
  position: absolute;
  top: 29px;
  left: 15px;
  right: 15px;
  border-top: 1px solid #dedede;
  box-sizing: border-box;
}
.box .thumb-posts {
  padding: 0 15px 0 0;
}
.box .thumb-posts > li {
  height: 95px;
  margin-top: 30px;
}
.box .thumb-posts > li:first-child {
  margin-top: 0;
}
.box .thumb-posts > li a header {
  padding-left: 105px;
}
.box .thumb-posts > li a header h5 {
  padding-bottom: 15px;
}
.box .thumb-posts > li a p {
  padding-left: 105px;
  font-size: 13px;
  color: #666666;
}
.box .thumb-posts > li a img {
  width: 95px;
  height: 95px;
  vertical-align: middle;
  float: left;
}
.box.banner img {
  vertical-align: middle;
  width: 100%;
}
.box.banner.desktop {
  display: block;
}
.box.banner.mobile {
  display: none;
}
@media only screen and (max-width: 30em) {
  .box.banner.desktop {
    display: none;
  }
  .box.banner.mobile {
    display: block;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  background: #d04144;
  font-size: 16px;
  color: #ffffff;
}
.footer .copy {
  text-align: right;
}
.footer p {
  margin: 30px 0;
}

@media only screen and (max-width: 30em) {
  .footer {
    font-size: 13px;
  }
  .footer .copy {
    text-align: center;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: none;
}
.modal .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(247, 247, 247, 0.9);
}
.modal .box {
  width: 460px;
  height: 500px;
  line-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -230px;
  border-radius: 5px;
  text-align: center;
  z-index: 1002;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.separator {
  border-bottom: 1px solid #dedede;
}
