@include placeholder {
    color: $text-color-semidark;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
    background: transparent;
    color: $primary-color;
    border:none;
    border-bottom: 1px solid $primary-color;
    box-sizing: border-box;
    font : {
        weight: 300;
        size: 24px;
    }
    line-height: 50px;
    &.big {
        width: 590px;
    }
}

.with-right-icon{
    padding: 0 25px 0 0;
}

%message {
    font-size: $base-font-size - 4px;
    text-align: center;
    width: 100%;
}

.success{
    color: $success-color;
    float: left;
    @extend %message;
}

.error{
    color: $error-color;
    float: left;
    @extend %message;
}

@media only screen and (max-width: $breakpoint-tablet) {
    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="search"] {
        &.big {
            width: 440px;
        }
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="search"] {
        line-height: 30px;
        font : {
            size: 13px;
        }
        &.big {
            width: 100%;
        }
    }

}
