@include placeholder {
    color: $text-color-semidark;
}

input[type="email"],
input[type="password"],
input[type="search"] {
    background: transparent;
    color: $primary-color;
    border:none;
    border-bottom: 1px solid $primary-color;
    box-sizing: border-box;
    font : {
        weight: 300;
        size: 24px;
    }
    line-height: 50px;
    &.big {
        width: 590px;
    }
}

.with-right-icon{
    padding: 0 25px 0 0;
}

@media only screen and (max-width: $breakpoint-medium) {
    input[type="email"],
    input[type="password"],
    input[type="search"] {
        line-height: 30px;
        font : {
            size: 13px;
        }
        &.big {
            width: 100%;
        }
    }

}
