html, body{
    min-height: 100%;
    background-color: $tertiary-color;
    font-family: $global-font-style, sans-serif;

    /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {outline:0;}

ul {
	list-style: none;
}

.main {
    padding-top: $gutter;
    @media only screen and (max-width: $breakpoint-medium) {
        padding: 0;
    }
}
