html, body{
    min-height: 100%;
    background-color: $tertiary-color;
    font-family: $global-font-style, sans-serif;
}

:focus {outline:0;}

ol, ul {
	list-style: none;
}

a {
    color: $primary-color;
    text-decoration: none;
}
