/* ==========================================================================
   Grid layout
   ========================================================================== */

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto !important;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container, .row {
    @extend %clearfix;
}
.row {
    //padding: 0 0 0 $gutter;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
}
[class*='col-'] {
    float: left;
    padding: 0 $gutter/2 0 $gutter/2;
    width: 100%;
    min-height: 1px;
}
@media only screen and (min-width: $breakpoint-tablet) {
    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
@media only screen and (min-width: $breakpoint-mobile) {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

}
