/* ==========================================================================
   Header
   ========================================================================== */

.header {
    position: relative;
    background: url($images-path + "header-bkg.jpg") no-repeat center top fixed;
    background-size: cover;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.9);
        z-index: 0;
    }
}
.brand {
    position: relative;
    z-index: 1;
    .logo{
        color: $secondary-color;
        display: inline-block;
        font-size: 75px;
        padding: 35px 0;
    }
}
.search {
    float: right;
    color: $secondary-color;
}
.mobile-friendly-menu {
    position: relative;
    background-color: $secondary-color;
    border-bottom: 1px solid $separator-color;
    z-index: 1;
    nav {
        ul {
            display: block;
            li {
                // display: inline-block;
                float:left;
                margin: 0 0 0 70px;
                a, span{
                    color: $text-color-semidark;
                    text-transform: uppercase;
                    font-size: 18px;
                    display: block;
                    padding: 23px 0;
                    border-bottom: 2px solid $secondary-color;
                }
                a:hover {
                    border-bottom: 2px solid $separator-color;
                }
                a:active {
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    cursor: pointer;
                    cursor: hand;
                }
            }
            li:first-child {
                margin: 0;
            }
            .current{
                a, span{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    cursor: pointer;
                    cursor: hand;
                }
            }
        }
    }
    .login {
        float: right;
        a{
            color: $text-color-semidark;
            text-transform: uppercase;
            font-size: 18px;
            display: block;
            padding: 23px 0;
            border-bottom: 2px solid $secondary-color;
            [class*='icon-']{
                color: $primary-color;
                font-size: 30px;
                line-height: 10px;
                position: relative;
                bottom: -5px;
                margin-right: 10px;
            }
        }
        a:hover {
            border-bottom: 2px solid $separator-color;
        }
        a:active {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
            cursor: pointer;
            cursor: hand;
        }
    }
}
