/* ==========================================================================
   Header
   ========================================================================== */

.header {
    position: relative;
    background: url($images-path + "header-bkg.jpg") no-repeat center top fixed;
    background-size: cover;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.9);
        z-index: 0;
    }

    .button {
        display: none;
    }
}
.brand {
    position: relative;
    z-index: 1;
    input[type="search"] {
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }
    .logo{
        color: $secondary-color;
        display: inline-block;
        font-size: 100px;
        padding: 35px 0;
    }
}
.search {
    float: right;
    color: $secondary-color;
    position: relative;
    margin-top: 60px;
    input[type="search"] {
        @include placeholder {
            color: $secondary-color;
        }
    }
    span {
        position: absolute;
        right: 0;
        top: 15px;
        font: {
            size: 20px;
        }
    }
    .triangle {
        display: none;
    }
}
.mobile-friendly-menu {
    position: relative;
    background-color: $secondary-color;
    border-bottom: 1px solid $separator-color;
    z-index: 1;
    nav {
        ul {
            display: block;
            li {
                // display: inline-block;
                float:left;
                margin: 0 0 0 70px;
                a, span{
                    color: $text-color-semidark;
                    text-transform: uppercase;
                    font-size: 18px;
                    display: block;
                    padding: 23px 0;
                    border-bottom: 2px solid $secondary-color;
                    &:hover {
                        border-bottom: 2px solid $separator-color;
                    }
                    &:active {
                        color: $primary-color;
                        border-bottom: 2px solid $primary-color;
                        cursor: pointer;
                        cursor: hand;
                    }
                }
                &:first-child {
                    margin: 0;
                }
            }
            .current{
                a, span{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    cursor: pointer;
                    cursor: hand;
                }
            }
        }
    }
    .login {
        float: right;
        a{
            color: $text-color-semidark;
            text-transform: uppercase;
            font-size: 18px;
            display: block;
            padding: 23px 0;
            border-bottom: 2px solid $secondary-color;
            [class*='icon-']{
                color: $primary-color;
                font-size: 30px;
                line-height: 10px;
                position: relative;
                bottom: -5px;
                margin-right: 10px;
            }
            &:hover {
                border-bottom: 2px solid $separator-color;
            }
            &:active {
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
                cursor: pointer;
                cursor: hand;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    .header {
        background: $primary-color;
        .overlay{
            display: none;
        }
        .button {
            display: inline-block;
        }
    }
    .brand {
        .logo{
            font-size: 50px;
            padding: 0;
            text-align: center;
            display: block;
        }
    }
    .search {
        color: $primary-color;
        float: none;
        margin-top: 0;
        background: $secondary-color;
        padding: 10px 20px 20px 20px;
        input[type="search"] {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
            @include placeholder {
                color: $primary-color;
            }
        }
        span {
            right: 20px;
        }
        .triangle {
            position: absolute;
            top: -15px;
            right: 10px; 
            display: inline-block;
        }
    }
}
