.slider-outer-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: $gutter;
    margin-bottom: $gutter;
    border-bottom: 1px solid $separator-color;
    .slider-inner-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: $borderRadius;
        background-image: url($images-path + "loader.gif");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $secondary-color;
        ul{
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;
            @extend %clearfix;
            >li {
                position: absolute;
                top:0;
                left:0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                visibility: hidden;
                img {
                    vertical-align: middle;
                }
                .slide-caption {
                    position: absolute;
                    bottom:0;
                    left: 0;
                    width: 100%;
                    color: $text-color-light;
                    background: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.9);
                    padding: 20px;
                    font-size: 38px;
                    font-weight: bold;
                }
                &:first-child {
                    position: relative;
                    top:0;
                    left:0;
                }
            }
        }
    }
    .slider-bullets-wrapper {
        position: relative;
        margin: $gutter 0 0 50%;
        display: inline-block;
        height: 22px;
        ul{
            cursor: pointer;
            cursor: hand;
            white-space: nowrap;
            display: inline-block;
            margin-left: -50%;
            li{
                display: inline-block;
                background-image: url($images-path + "bullets.png");
                background-repeat: no-repeat;
                background-position: 0 -18px;
                width: 18px;
                height: 18px;
                margin: 0 5px;
                &.selected {
                    background-position: 0 0;
                }
            }
        }
    }
    @media only screen and (max-width: $breakpoint-medium) {
        background: $secondary-color;
        .slider-inner-wrapper {
            border-radius: 0;
            ul li .slide-caption {
                background: transparent;
                position: relative;
                color: $text-color-dark;
                display: block;
                font-size: 23px;
                line-height: 35px;
                padding-bottom: 0;
            }
        }
    }
}
