html, body{
	color: $text-color-semidark;
	font-size: 	$base-font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin-bottom:$base-font-size;
	color:$text-color-dark;
}

h2 {
	font-size:$base-font-size + 10px;
}

h3 {
	font-size:$base-font-size + 2px;
}

h4 {
	font-size:$base-font-size;
}

h5 {
	font-size:$base-font-size - 3px;
}

p {
	margin:$base-font-size 0 $base-font-size 0;
}

strong {
	font-weight: bold;
	color: $text-color-dark;
}

em {
	font-style:italic;
}

pre {
	padding:$base-font-size / 2;
	background:darken($tertiary-color, 2%);
	border:1px solid darken($tertiary-color, 15%);
	overflow-x:scroll;
    border-radius: $borderRadius;
	code {
		background:none !important;
	}
}

p code {
	padding:0 3px 0 3px;
	background:darken($tertiary-color, 2%);
	border:1px solid darken($tertiary-color, 15%);
    border-radius: $borderRadius;
}

code {
	font-size:$base-font-size - 3px;
	//font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

hr {
	display: block;
	height: 1px;
    border: 0;
	border-top: 1px solid $separator-color;
    margin: 1em 0; padding: 0;
}

a {
    color: $primary-color;
	text-decoration:none;
	&:hover {
		border-bottom-width:1px;
		border-bottom-style:solid;
	}
}

ol.numbers {
	list-style-type: decimal;
	margin: 0 0 0 $gutter/2;
	padding: 0;
	counter-reset: item;
	>li {
		margin: 0;
		padding: 0 0 0 $gutter/2;
		text-indent: -$gutter;
		list-style-type: none;
		counter-increment: item;
		font : {
			size : 16px;
		}
		line-height: $base-line-height * 1.5;
		a {
			color: $text-color-semidark;
			&:hover {
				color: $primary-color;
			}
			&:active {
				color: $text-color-semidark;
			}
		}
		&:before {
			display: inline-block;
			width: $gutter + 10px;
			padding-right: $gutter/4;
			font-weight: bold;
			text-align: right;
			content: counter(item) ".";
		}
	}
}
