/* ==========================================================================
   Paths
   ========================================================================== */

$fonts-path : "../fonts/";
$images-path : "../images/";

/* ==========================================================================
   Typography
   ========================================================================== */

$trikoder-style-name : "3K_frontend_task_icon_font";

$global-font-style : "Lato";

$base-font-size: 18px;
$base-line-height: 26px;

/* ==========================================================================
   Grid
   ========================================================================== */

$breakpoint-medium : 30em;
$grid-max-width : 1170px;
$grid-columns : 12;
$gutter: 30px;

/* ==========================================================================
   Colors
   ========================================================================== */

$primary-color : #d04144;
$secondary-color : #ffffff;
$tertiary-color : #f7f7f7;

$text-color-light : $secondary-color;
$text-color-dark : #333333;
$text-color-semidark : #666666;

$separator-color : darken($tertiary-color, 10%);

$success-color : #27ae60;
$error-color : $primary-color;

/* ==========================================================================
   Dimensions
   ========================================================================== */

$mobile-menu-width : 220px;

/* ==========================================================================
   Border
   ========================================================================== */

$borderRadius : 3px;
