/* ==========================================================================
   Paths
   ========================================================================== */

   $fonts-path : "../fonts/";
   $images-path : "../images/";

/* ==========================================================================
   Fonts
   ========================================================================== */

$trikoder-style-name : "3K_frontend_task_icon_font";

$global-font-style : "Lato";

/* ==========================================================================
   Grid
   ========================================================================== */

$breakpoint-medium : 30em;
$grid-max-width : 1170px;
$grid-columns : 12;

/* ==========================================================================
   Colors
   ========================================================================== */

$primary-color : #d04144;
$secondary-color : #ffffff;
$tertiary-color : #f7f7f7;

$text-color-light : $secondary-color;
$text-color-dark : #333333;
$text-color-semidark : #666666;

$separator-color : darken($tertiary-color, 10%);
