
/* ==========================================================================
   Fonts
   ========================================================================== */

$fonts-path : "../fonts/";

$trikoder-style-name : "3K_frontend_task_icon_font";

$global-font-style : "Lato";
